@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100vh;
}

body{
    font-family:Inter,Arial,sans-serif;
    background:#f8fafc;
    color:#111827;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
}

input,
textarea,
select{
    outline:none;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#cbd5e1;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#94a3b8;
}